.app {
  background-image: url("https://cdn.prod.website-files.com/647f1f0eace38f44133df49d/64c23c29dc88b80944309fb7_EngagedMD_Female%20Phys%20large-p-1080.png"),
    url("https://cdn.prod.website-files.com/647f1f0eace38f44133df49d/64a272f8410d9ffc9676c8f3_EngagedMD_Female%20Nurse-2.png");
  background-position: bottom right, bottom left;
  background-repeat: no-repeat;
  background-size: 50%;
}
