@import "tailwindcss";

@theme {
  --color-brand-dark-green: #005459;
  --color-brand-cream: #fff2e3;
  --color-brand-pink: #f54fb0;
  --color-brand-deep-pink: #df3197;
  --color-brand-teal: #05c9bf;
}
